:root {
  --Grid-font-size: var(--r-fontSize);
  --Grid-gutter-size: var(--r-lineHeight);
}

.r-Grid {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

@media (--r-maxM) {
  .r-Grid {
    width: auto;
  }
}
